{% extends "meals/layout.html" %}
{% load static %}

{% block title %}
Sustenance
{% endblock %}

{% block message %}
{% if message %}
<div id="message">{{ message }}</div>
{% endif %}
{% endblock %}

{% block body %}
<div class="content">
    <h1>History</h1>
    <p>Your previously generated shopping lists! (Limited to the last 20 generations)</p>
    <div class="history flex-center">
        {% for x in page_obj %}
        <div class="generated flex-center" id="1">
            <div id="dateGenerated"><u><b>{{ x.date_generated }}</b></u></div>
            <div id="mealListtitle"><h4>Meal List</h4></div>
            <div id="mealList">
                {% for meal in x.meals %}
                <div class="mealName">{{ meal }} </div>
                {% endfor %}
            </div>
            <div><h4>Shopping List</h4></div>
            <div id="shoppingList">
                {% for item in x.shopping_list %}
                <div class="ingredient">
                    <div><input type="checkbox"></div>
                    <div class="ingredientName">{{ item.name }}:</div>
                    <div class="ingredientQuantity">{{ item.quantity }}</div>
                    <div class=ingredientUnit></div>{{ item.unit }}</div>
                {% endfor %}
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
{% endblock %}