{% extends "meals/layout.html" %}
{% load static %}

{% block title %}
Sustenance
{% endblock %}

{% block message %}
{% if message %}
<div id="message">{{ message }}</div>
{% endif %}
{% endblock %}

{% block body %}
<div class="content">
    <div id="summary">
    <h1>Sustenance</h1>
    <div id="description">This is Sustenance, create and generate your recipes into weekly shopping lists.<br>
        The goal of this website is to reduce the amount of time at the shops trying to think of things to cook and then all the ingredients required to cook these.<br>
        An account is required and after logging in you can start create meals from a pool of ingredients or adding your own.
    </div>
    </div>
    {% if user.is_authenticated %}
    <div class="flex-center" id="generator">
        <h2>Generate Shopping List</h2>
        <div>
            <input id="mealCountInput" type="range" id="volume" name="volume" min="1" max="7">
        </div>
        <div id="mealCount">4</div>
        <div><button id="generate">Generate</button></div>
    </div>
    <div class="generated flex-center">
        <div><h3>Meal List</h3></div>
        <div id="mealList"></div>
        <div><h3>Shopping List</h3></div>
        <div id="shoppingList"></div>
    </div>
    <div id="historylist">
        
    </div>
    {% endif %}
</div>
{% endblock %}
{% block script %}
<script src="{% static 'meals/index.js' %}"></script>
{% endblock %}