{% extends "meals/layout.html" %}
{% load static %}

{% block title %}
Ingredients
{% endblock %}

{% block body %}
<div class="content">
    <h1>Ingredients</h1>
    <div>Create/Edit ingredients in the overall database!</div>
    <div>There is currently a total of <b id="ingredientsCount">{{ ingredients.count }}</b> ingredients in the database.</div>
    <input class="form-control" list="datalistOptions" id="ingredientSelection" onfocus="this.value='';" placeholder="Create, update or delete." autocomplete="off">
    <datalist id="datalistOptions">
        <option id="Create" value="Create"></option>
    </datalist>
    <div id="ingredientAdd", style="display: none;">
        <input type="number" class="id" id="idAdd" hidden>
        <label for="nameAdd">Ingredient*: </label>
        <input type="text" required class="name" id="nameAdd" autocomplete="off">
        <label for="unitAdd">Unit: </label>
        <input type="text" class="unit" id="unitAdd" autocomplete="off">
        <button class="button" id="add" value="add">Add</button>
    </div>
    <div id="ingredientEdit", style="display: none;">
        <input type="number" class="id" id="idEdit" hidden>
        <label for="nameEdit">Ingredient*: </label>
        <input type="text" required class="name" id="nameEdit" autocomplete="off">
        <label for="unitEdit">Unit: </label>
        <input type="text" class="unit" id="unitEdit" autocomplete="off">
        <button class="button" id="edit" value="edit">Edit</button>
        <button class="button" id="delete" value="delete">Delete</button>
    </div>
</div>
{% endblock %}

{% block script %}
<script src="{% static 'meals/ingredients.js' %}"></script>
{% endblock %}