{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="{% static 'meals/styles.css' %}" rel="stylesheet">
        <script src="{% static 'meals/script.js' %}"></script>
        <script type="module" src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.1/dist/js.cookie.min.js"></script>
        <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
        {% block script %}
        {% endblock %}
    </head>
    <body>
        <div>
        <div id="nav-bar" class="shadow">
            <img class="nav-logo" src="{% static 'meals/images/meat.png' %}" alt="Logo">
            <div class="nav-item"><a class="nav-link" href="{% url 'index' %}"><strong>Home</strong></a></div>
            <div class="nav-item"><a class="nav-link" href="{% url 'recipes' %}"><strong>Recipes</strong></a></div>
            <div class="nav-item"><a class="nav-link" href="{% url 'ingredients' %}"><strong>Ingredients</strong></a></div>
            <div class="nav-space"></div>
            {% if user.is_authenticated %}
            <div class="nav-item"><a class="nav-link" href=""><strong>Account</strong></a></div>
            <div class="nav-item"><a class="nav-link" href="{% url 'logout_user' %}"><strong>Logout</strong></a></div>
            {% else %}
            <div id='register' class="nav-item account"><strong>Register</strong></div>
            <div id='login' class="nav-item account"><strong>Login</strong></div>
            {% endif %}
        </div>
        <div id="message">{% block message %}{% endblock %}</div>

        <form id="login-form" class="account-form shadow" style="display: none;" method="POST" action="{% url 'login_user' %}">
            {% csrf_token %}
            <label for="username"><b>Username</b></label>
            <input autofocus autocomplete="username" type="text" name="username" placeholder="Username">
            <label for="password"><b>Password</b></label>
            <input type="password" autocomplete="current-password" name="password" placeholder="Password">
            <input type="submit" value="Login">
        </form>
        <form id="register-form" class="account-form shadow" style="display: none;" method="POST" action="{% url 'register_user' %}">
            {% csrf_token %}
            <label for="email" ><b>Email</b></label>
            <input autofocus autocomplete="email" type="text" name="email" placeholder="Email">
            <label for="username"><b>Username</b></label>
            <input autofocus  type="text" autocomplete="username" name="username" placeholder="Username">
            <label for="password"><b>Password</b></label>
            <input type="password" autocomplete="new-password" name="password" placeholder="Password">
            <input type="password" autocomplete="new-password" name="confirmation" placeholder="Confirmation">
            <input type="submit" value="Register">
        </form>
        </div>
        {% block body %}
        {% endblock %}
    </body>

</html>